.idea

# client
client/dist
client/.yarn
client/.pnp.*
client/yarn.lock
client/node_modules
client/.idea
client/static/*

# server
server/.yarn
server/.pnp.*
server/yarn.lock
server/node_modules
server/.idea
server/static/*